body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.skip-diet h1{
    font-size: 50px;
    font-weight: 800;
}
.first-section{
    height: 500px;
}
.bg-img{
    height: 500px;
}
.skip-diet {
    width: 40%;
    float: left;
    margin-left: 6.5%;
    padding-bottom: 100px;
}
.skip-diet img{
    width: 90%;
}
.color-skip{
    color: orange;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, orangered);
    padding: 10px 30px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
}
h2{
    font-size: 30px;
}

.first-section{
    background-image: url("images/Frame-56.jpg");
    background-repeat: no-repeat;
}
.bg-img{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
}




.card-before{
    text-align: center;
    padding-top: 70px;
}
.card-before h2{
    margin-right: ;
}


.card-section{
    margin-left: 10%;
    height: 500px;
}

.card{
    float: left;
    width: 22%;
    height: 400px;
    padding: 2%;
    margin: 20px;
    margin-left: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px 25px rgb(124, 123, 123);
   
}
.card img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}
.card h3{
    font-size: 20px;
}
.card p{
    text-align: justify;
}


footer{
    height: 250px;
    background-color: black;
    text-align: center;
    
}
footer span{
    color:orange;
}
footer h2{
    color:rgb(124, 123, 123);
    padding-top: 40px;
}
footer p{
    color: white;
    
}

