body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.skip-diet h1{
    font-size: 50px;
    font-weight: 800;
}
section{
    height: 500px;
}
.skip-diet {
    width: 40%;
    float: left;
    margin-left: 6.5%;
    padding-bottom: 100px;
}
.skip-diet img{
    width: 90%;
}
.color-skip{
    color: orange;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, orangered);
    padding: 10px 30px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
}
h2{
    font-size: 30px;
}

.first-section{
    background-image: url("images/Frame-58.jpg");
    background-repeat: no-repeat;
}
.bg-img{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
}


